/*body**********************************************************/
body {
	font-family: Time New Romans;
	font-size: 20px;
	width: 100%;
	margin: 0px auto;
	background-image: url("../images/background2.png");
	background-size: 100%;
}
/*menu_top**********************************************************/
#menu_top {
	background-color: #363636;
	height: 66px;

}
#logo {
	position:fixed;
	background:blue;
}
/*banner**********************************************************/
#banner {
	background-image: url("../images/banner-2.png");
	height: 445px;
	width: 1170px;
	margin: 20px auto;
	border-radius: 10px;
}

#main {
	width: 1170px;
	height: 465px;
	margin: 0px auto;
}

#main #linkhong {
	width: 800px;
	background: white;
	height: 145px;
	float: left;
	border-radius: 10px;
	float: left;
}

#main #linkhong h2{
	color: maroon;
	margin: 20px;
}
/*main_FB**********************************************************/

#main #AVNFansubonFB {
	background-size: 300px;
	width: 353px;
	height: 145px;
	background: white;
	margin: 0px 0px 0px 17px;
	border-radius: 10px;
	float: left;
}
#main #AVNFansubonFB h1{
	font-size: 20px;
	color: maroon;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	margin: 20px;
}
#main #AVNFansubonFB #facebook {
	background-image: url("../images/anhface1.jpg");
	background-position: center;
	background-size: 100%;
	width: 313px;
	height: 60px;	
	margin: 20px auto;
}
#main #AVNFansubonFB #facebook #AvatarFB {
	background-image: url("../images/avatarface.jpg");
	background-position: center;
	background-size: 100%;
	width: 50px;
	height: 50px;
	margin: 5px 10px 10px 5px;
	float: left;
}

#main #AVNFansubonFB #facebook #Name {
	font-size: 20px;
}
#main #AVNFansubonFB #facebook #Name a{
	text-decoration: none;
	color: white;
	text-align: center;
	margin: 20px 0px 0px 0px;
	float: left;
	font-weight: bold;
}



#main #comment {
	width: 1170px;
	background: white;
	height: 300px;
	float: left;
	border-radius: 10px;
	margin: 20px 0px 0px 0px;
}

#main #comment h2 {
	color: maroon;
	margin: 20px;
}

#footer {
	width: 1170px;
	text-align: center;
	height: 60px;
	color: #FFF;
	clear: left;
	margin: 0px auto;
	line-height: 60px;
}

#menu_top ul {
	text-align: center;
	margin: 0px;
	padding: 0px;

}
#menu_top ul li {
	list-style: none;
	position: relative;
	display: inline-block;
	margin: 0px -250px 0px 250px;

}

#menu_top ul li a {
	text-decoration: none;
	color: white;
	line-height: 66px;
	padding: 0px 10px 0px 10px;
	font-size: 13px;
}

#menu_top ul li a.active {
	background: none;
	color: red;
}

h1 {
	font-size: 30px;
	color: maroon;
	margin: 20px;
}
h2 {
	font-size: 30px;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	margin: 20px auto;
}


i {
	font-size: 13px;
	margin: 0px 10px 0px 0px;

}
i a{
	text-decoration: none;
	color: red;
}
p {
	font-size: 16px;
	margin: 20px;
}

#menu_top ul li a:hover {
	color: red;
}